*{
  padding: 0px;
  margin: 0px;
  font-family: "Times New Roman", Times, serif;
}

.khungtim_bl {
    padding-right: 0px;
    padding-left: 3px;
}

.khu12.col-xs-12 {
    padding-right: 0px;
}

input[type="search"],div#myTable_length select {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.boviennha {
    border: none;
}

.width_50 {
    width: 50%;
}

.thumbnail.mua_nen_8 {
    background-color: #795548;
    color: white;
}

a.width_100px:hover, a:focus {
    text-decoration: none;
}

.width_100px {
    width: 100%;
}

.caption.text-center.mauchu123 {color: white;}

img#previewing_sinhvien_sua123_load {
    border: 1px solid #d8d8d8;
}

.modal-footer {
    border: none;
}

.thumbnail.mua_nen_7 {
    background-color: #4CAF50;
    color: #fdfdfd;
}

.thumbnail.mua_nen_6,.thumbnail.maunen-3 {
    background-color: #2196F3;
    color: white;
}

.ds_phong_cualoaiphong {
    margin-top: 3px;
}

table {
    margin-bottom: 0px !important;
}

.thumbnail.mua_nen_5, .thumbnail.maunen-1 {
    background-color: #E91E63;
    color: white;
}

div#image_preview {
    padding-left: 30%;
}

.hoten_cb_sua {
    padding-left: 0px;
    padding-right: 4px;
    padding-bottom: 10px;
}

.col-xs-12.col-sm-12.col-md-12.col-lg-12.hoten_cb_sua {
    padding: 0px;
    padding-bottom: 5px;
}

.thumbnail.mua_nen_4 {
    background-color: #F44336;
    color: #f9f9f9;
}
.textnamgiua{
  vertical-align: middle;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}
.thumbnail.mua_nen_3,.thumbnail.maunen-2 {
    background-color: #FFC107;
    color: black;
}

.menutrai {
    padding-bottom: 10px;
    padding: 0px;
}

.nuthemmoi input.btn.btn-primary.btn-block {
    font-size: 16px;
}

#myTable thead tr {
    border-top: 1px solid #dddddd;
}

h3 {
    font-size: 24px;
}

.menutrai a.navbar-brand {
    font-size: 16px;
}

select.custom-select.custom-select-sm.form-control.form-control-sm,input.form-control.form-control-sm {
    height: 30px;
    font-size: 14px;
}

.col-xs-12.col-sm-12.col-md-6.col-lg-6.canh15px {
    padding-left: 0px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.lop_themmoi {
    width: 400px;
}

.thumbnail.mua_nen_2 {
    background-color: #9C27B0;
    color: white;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #e9edff;
}

#modal_xoa_khoa .modal-dialog {
    width: 500px;
}

#modal_xoa_khoa .modal-dialog, {
    width: 300px;
}

.modal-dialog.themkhoa2.khoa_themmoi {
    width: 300px;
}

.thumbnail.mua_nen_1 {
    background-color: #3F51B5;
    color: white;
}
.chuinthuong{
  text-transform: capitalize;
}
.chuinhoa{
  text-transform: uppercase;
}
.vien_do{
  border-color: red;
}
.canhgiua{
  text-align: center;
}
.nuthemmoi {
    padding-bottom: 10px;
    padding-top: 3px;
}

button.fa.fa-times-circle-o.btn.btn-danger {
    border-radius: 20px;
    text-align: center;
    padding: 0px;
}

ul.pagination.phantrang_1123 {
    margin-top: 0px;
    margin-bottom: 0px;
}

td.canhgiuanek12 {
    text-align: center;
}

.menutrai .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin: 0px;
    /* color: red; */
}

.menutrai a.navbar-brand {
    color: #337ab7;
}

.table-responsive th {
    text-align: center;
}

hr.ngay_ad {
    border-color: #99bbd9;
    margin: 5px 0px 5px 0px;
}

.chutieude h2 {
    margin: 0px;
}

.col-xs-12.col-sm-2.col-md-2.col-lg-2.menutrai {
    padding-right: 0px;
}
@media (min-width: 768px){
  .modal-dialog.themthietbi2.khoa_themmoi.themthietbi_moi, .themthietbi_moi, .width_350px {
      width: 350px !important;
  }
  .col-xs-12.col-sm-12.col-md-12.col-lg-12.benphai {
      height: 234px;
  }
}
@media (max-width: 768px){
  .modal-dialog.themlop2.lop_themmoi{
    width: 95%;
  }
  h2, h3,h4,a,.sidenav a, .dropdown-btn{
    font-size: 16px  !important;
  }

  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
      margin-left: 16px;
  }
  .menutrai .navbar-default .navbar-brand,,a.navbar-brand{
    width: 75%;
  }

  .food h4{
    font-size: 10px;
    margin: 3px 0px 3px 0px;
  }
  .sidenav a, .dropdown-btn {
    padding: 15px 20px 15px 30px !important;
  }

}
.menutrai .navbar-header {
    width: 100%;
}

.menutrai .collapse.navbar-collapse.navbar-ex1-collapse {
    padding: 0px;
}

.row.anhbia.text-center {
    background-color: #337ab7;
}

.food {
    background-color: #337ab7;
    color: white;
    margin-top: 10px;
}
/* menu */
/* Fixed sidenav, full height */
.sidenav ,.menutrai nav.navbar.navbar-default{
  height: 100%;
  width: 100%;
  /* position: fixed; */
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #b7e3e3;
  overflow-x: hidden;
  /* padding-top: 20px; */
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 15px 8px 15px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #337ab7;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  border-top: 1px solid #ffffff;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover ,a.navbar-brand:hover{
  color: #f9f9f9;
  background-color: #03A9F4;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active, {
  background-color: #726e6e;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #b7e3e3;
  /* padding-left: 8px; */
}

.dropdown-container>a{
    color: #555;
    border-top: 1px solid #b7e3e3;
    background-color: #f5f5f5;
    margin-left: 9px;
}

a.list-group-item {}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}